.u-section-1 .u-sheet-1 {
  min-height: 594px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 54px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.375rem;
  width: 426px;
  margin: 31px auto 0;
}

.u-section-1 .u-form-1 {
  height: 318px;
  width: 570px;
  margin: 21px auto 59px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 247px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 142px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: 17px;
  }
}