.u-section-1 .u-sheet-1 {
  min-height: 220px;
}

.u-section-1 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-1 .u-text-2 {
  text-decoration: underline !important;
  margin: 24px auto 0 0;
}

.u-section-1 .u-text-3 {
  text-decoration: underline !important;
  margin: 20px 0 0;
}.u-section-2 .u-sheet-1 {
  min-height: 373px;
}