.u-section-1 .u-sheet-1 {
  min-height: 70px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 21px auto 20px 13px;
} .u-section-2 {
  min-height: 567px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 507px;
  margin-top: 0;
  margin-bottom: 60px;
}